@model List<Service>
@{
    ViewData["Title"] = "Index";
    int count = 0;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Sub title</th>
            <th scope="col">Desc</th>
            <th scope="col">Icon</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            count++;
        <tr>
            <th scope="row">@count</th>
            <td>@item.Title</td>
            <td>@item.SubTitle</td>
            <td>@item.Desc</td>
            <td>@item.Icon</td>
        </tr>
        }

    </tbody>
</table>
